:root {
    --CA: #1f4b23;
    --CB: rgba(19, 170, 79, 0.4);
    --CC: #1f354b;
    --CD: #38343a;
    --CE: #bad0e5;
    --CF: #eaf1a8;
}
body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background: rgb(88,61,106);
    background: linear-gradient(21deg, rgba(88,61,106,1) 0%, rgba(105,147,157,1) 50%, rgba(13,60,177,1) 100%);
}
#all{
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.marco{
    background-color: var(--CC);
    padding: 5%;
    margin-bottom: 10%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 12px 1px rgba(0,0,0,0.4); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 12px 1px rgba(0,0,0,0.4);
    color: var(--CE);
}
.marco img{
    width: 90%;
    padding: 8% 0;
    border-radius: 8%;
}
#archivo{
    background-color: var(--CE);
    padding: 8%;
    margin-bottom: 15%;
    border-radius: 5%;
    border: dashed 3px rgb(104, 102, 102);
}
#archivo p{
    padding-bottom: 5%;
}
#archivo img{
    width: 25%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 12px 1px rgba(0,0,0,0.25); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 12px 1px rgba(0,0,0,0.25);
}

footer{
    background-color: var(--CD);
    color: var(--CE);
    display: flex;
}
footer img{
    padding: 15%;
    width: 10%;
}

footer .Footer_texto{
    margin-top: auto;
    margin-bottom: auto;
}

/********************  720 X 1024 ****************************/
@media (min-width: 720px){
    #all{
        font-size: 1.3rem;
        width: 85%;
    }
    #archivo img{
        width: 18%;
    }
}
/********************  1024 X 1366****************************/
@media (min-width: 1024px){
    #all{
        font-size: 1.8rem;
        width: 80%;
    }
    footer{
        font-size: 1.5rem;
    }
}

/********************  1280 X 800***************************/
@media (min-width: 1280px){
    #all{
        font-size: 1.9rem;
        width: 80%;
    }
    footer{
        font-size: 1.6rem;
    }
}
/********************  1440 X ...***************************/
@media (min-width: 1440px){
    #all{
        font-size: 2rem;
        width: 70%;
    }
    footer{
        font-size: 1.8rem;
    }
}
/********************  1600 X ...***************************/
@media (min-width: 1600px){
    #all{
        font-size: 1.6rem;
        width: 60%;
    }
    .marco{
        padding: 3%;
    }
    .marco img{
        width: 80%;
    }
    footer{
        font-size: 1.5rem;
    }
    footer img{
        padding: 10%;
        width: 5%;
    }
    #archivo{
        margin-left: auto;
        margin-right: auto;
        padding: 3%;
        margin-bottom: 10%;
        width: 50%;
    }
}